#=============allow nvram==============
# nvram_country HQ_COUNTRY_CODE_SUPPORT
# For:Country Code
# Autor:liweixin
type nvram_country_prop,property_type;
